.page-footer {
  background-color:  get_col(page-footer-bg);

  button {
    width: 55px;
    height: 100%;
    background-color: #1f2637;
    transition-duration: 0.3s;

    &:hover {
      background-color: #15a4fa;
    }

    i {
      font-size: 14px;
      color: #ffffff;
    }
  }
}
