.page-footer {
  background-color:  get_col(page-footer-bg);

  button {
    width: 55px;
    height: 100%;
    background-color: get_col(footer-button-bg);
    transition-duration: 0.3s;

    &:hover {
      background-color: get_col(aside-hov-bg);
    }

    i {
      font-size: 14px;
      color: get_col(aside-hov-text);
    }
  }
}
