$fa-font-path: "src/webfonts";


$page-header-height: 45px;
$page-footer-height: 45px;
$page-hed-foot: $page-header-height + $page-footer-height;
$page-aside-width: 200px;
$page-aside-width-sx: 60px;
$aside-buttons-height: 120px;
$main-header-height: 120px;
$main-header-height-sx: 40px;
$scrollbar: 5px;

$colors: (
        scroll-bg: #ffffff,
        scroll-thumb: #ccd5e4,
        scroll-hover: #888,
        page-header-bg: #2f364a,
        main-header-bg: #eef1f7,
        thumbnail-cont-bg: #ffffff,
        aside-bg: #1f2637,
        page-footer-bg: #181e2c,
        header-shadow1: #dadfea,
        header-shadow2: #f4f6fa,
        logo-text: #444c63,
        nav-text: #97b3ce,
        nav-icon: #8c97b2,
        aside-text: #78829d,
        aside-hov-bg: #15a4fa,
        aside-hov-text: #ffffff,
        button-add: #f2795a,
        item-author: #6f7d95,
        star: #ffab00,
        star-out: #ffe89d,
        footer-button-bg: #1f2637
);